<a href="https://colab.research.google.com/github/kyliekwann/FinalProject/blob/hankai26/AnalyzeUP_connect_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Setup PySpark**

In [3]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.3'
# spark_version = 'spark-3.2.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:3 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:9 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,297 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,065 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [29.8 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,298 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-backports/main amd64 Packages [12.2 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,068 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,021 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,060 kB]
Get:22 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,521 kB]
Get:23 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,866 kB]
Get:24 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [22.8 kB]
Get:25 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [47.8 kB]
Fetched 15.6 MB in 4s (3,788 kB/s)
Reading package lists... Done

In [4]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-06-28 23:48:01--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.1s

2022-06-28 23:48:01 (6.55 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("M16-Amazon-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

## **Load Data from S3 into Spark DataFrame**
- Connect to data storage, then extract that data into a DataFrame. We have the mock data (sample_url) in S3 bucket.

- The dataset (df) mimics our expected final database structure.

In [ ]:
sample_url = "https://analyzeup-hz.s3.us-west-1.amazonaws.com/Charity_Navigator_US_States_and_Territories.csv"
file_name = "Charity_Navigator_US_States_and_Territories.csv"

In [ ]:
from pyspark import SparkFiles

spark.sparkContext.addFile(sample_url)
df = spark.read.csv(SparkFiles.get(file_name), sep=',', header=True, inferSchema=True)
df.show(5)

+--------------------+--------------------+--------------------+--------------------+--------------------+---------+-----+--------------------+-----------------------+------------------------------+---------------------------------+---------------------------------+---------------------+------------------------------------------+-------------------------------------+--------------------------------------+------------------------------------------+-------------------------------------------+----------------------+--------------------+-----------------------------+--------------------+--------------+--------------------+--------------------------+--------------------+--------------------------------+-----------------------------+------------------------------+---------------------------+-------------------------------+-----------------------------+------------------------------------+---------------------------------+----------------------------+-----------------------------+---------------------------+----------------------------+------------------------------+------------------------------------+-----------------------------------+-------------------------------------+-----------------------------------+--------------------------------------+--------------------------------------+----------------------------------+-----------------------------+-----------------------+-------------------------------+--------------------+--------------------------+------------------------------+------------------------------+------------------------+--------------------------------+---------------------+---------------------------+-------------------------------+-------------------------------+--------------------+-----------------------------------------------+-------------------------+-----------------+---------------------------------+-----------------------------------------+
| charityNavigatorURL|             mission|          websiteURL|             tagLine|         charityName|      ein|orgID|currentRating__score|currentRating__ratingID|currentRating__publicationDate|currentRating__ratingImage__small|currentRating__ratingImage__large|currentRating__rating|currentRating___rapid_links__related__href|currentRating__financialRating__score|currentRating__financialRating__rating|currentRating__accountabilityRating__score|currentRating__accountabilityRating__rating|category__categoryName|category__categoryID|category__charityNavigatorURL|     category__image|cause__causeID|    cause__causeName|cause__charityNavigatorURL|        cause__image|irsClassification__deductibility|irsClassification__subsection|irsClassification__assetAmount|irsClassification__nteeType|irsClassification__incomeAmount|irsClassification__nteeSuffix|irsClassification__filingRequirement|irsClassification__classification|irsClassification__latest990|irsClassification__rulingDate|irsClassification__nteeCode|irsClassification__groupName|irsClassification__affiliation|irsClassification__deductibilityCode|irsClassification__foundationStatus|irsClassification__nteeClassification|irsClassification__accountingPeriod|irsClassification__deductibilityDetail|irsClassification__exemptOrgStatusCode|irsClassification__exemptOrgStatus|irsClassification__nteeLetter|mailingAddress__country|mailingAddress__stateOrProvince|mailingAddress__city|mailingAddress__postalCode|mailingAddress__streetAddress1|mailingAddress__streetAddress2|donationAddress__country|donationAddress__stateOrProvince|donationAddress__city|donationAddress__postalCode|donationAddress__streetAddress1|donationAddress__streetAddress2|advisories__severity|advisories__active___rapid_links__related__href|organization__charityName|organization__ein|organization__charityNavigatorURL|organization___rapid_links__related__href|
+--------------------+--------------------+--------------------+--------------------+--------------------+---------+-----+--------------------+-----------------------+------------------------------+---------------------------------+---------------------------------+---------------------+------------------------------------------+-------------------------------------+--------------------------------------+------------------------------------------+-------------------------------------------+----------------------+--------------------+-----------------------------+--------------------+--------------+--------------------+--------------------------+--------------------+--------------------------------+-----------------------------+------------------------------+---------------------------+-------------------------------+-----------------------------+------------------------------------+---------------------------------+----------------------------+-----------------------------+---------------------------+----------------------------+------------------------------+------------------------------------+-----------------------------------+-------------------------------------+-----------------------------------+--------------------------------------+--------------------------------------+----------------------------------+-----------------------------+-----------------------+-------------------------------+--------------------+--------------------------+------------------------------+------------------------------+------------------------+--------------------------------+---------------------+---------------------------+-------------------------------+-------------------------------+--------------------+-----------------------------------------------+-------------------------+-----------------+---------------------------------+-----------------------------------------+
|https://www.chari...|Impact Alabama wa...|https://impactame...|Engaging a Genera...|      Impact America|200850212|15177|               78.12|                 166300|          2022-05-01T04:00:...|             https://d20umu42a...|             https://d20umu42a...|                    2|                      https://api.data....|                                78.25|                                     2|                                        78|                                          2|        Human Services|                   6|         https://www.chari...|https://d20umu42a...|            29|     Social Services|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                       1325910|       Educational Insti...|                        2197482|                         null|                990 (all other) o...|             Educational Organ...|                  June, 2020|                   June, 2004|                        B80|                        null|          Independent - the...|                                   1|               Organization whic...|                 Student Services,...|                               June|                                  null|                                     1|              Unconditional Exe...|                            B|                   null|                             AL|          Birmingham|                     35209|          601 Beacon Parkwa...|                     Suite 102|                    null|                            null|                 null|                       null|                           null|                           null|                null|                           https://api.data....|           Impact America|        200850212|             https://www.chari...|                     https://api.data....|
|https://www.chari...|Four Corners Mini...|http://fourcorner...|     The Gospel Sent|Four Corners Mini...|203589685|16270|               89.01|                 168459|          2022-02-01T05:00:...|             https://d20umu42a...|             https://d20umu42a...|                    3|                      https://api.data....|                                95.95|                                     4|                                        85|                                          3|              Religion|                   9|         https://www.chari...|https://d20umu42a...|            26|Religious Activities|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                       3032238|       Religion-Related,...|                        2082463|                         null|                990 (all other) o...|             Charitable Organi...|              December, 2020|                   June, 2007|                        X20|                        null|          Independent - the...|                                   1|               Organization that...|                            Christian|                           December|                                  null|                                     1|              Unconditional Exe...|                            X|                   null|                             AL|             Opelika|                     36801|          202 South 8th Street|                          null|                    null|                            null|                 null|                       null|                           null|                           null|                null|                           https://api.data....|     Four Corners Mini...|        203589685|             https://www.chari...|                     https://api.data....|
|https://www.chari...|The Mobile Sympho...|http://www.mobile...|Working to create...|Mobile Symphony O...|237070234|15711|               70.42|                 158948|          2021-09-01T04:00:...|             https://d20umu42a...|             https://d20umu42a...|                    2|                      https://api.data....|                                59.65|                                     1|                                        89|                                          3|  Arts, Culture, Hu...|                   2|         https://www.chari...|https://d20umu42a...|             4|     Performing Arts|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                       1265941|       Arts, Culture and...|                        1463478|                            0|                990 (all other) o...|             Educational Organ...|                  June, 2021|              September, 1970|                        A69|                        null|          Independent - the...|                                   1|               Organization that...|                  Symphony Orchestras|                               June|                                  null|                                     1|              Unconditional Exe...|                            A|                   null|                             AL|              Mobile|                     36602|            257 Dauphin Street|                          null|                    null|                            null|                 null|                       null|                           null|                           null|                null|                           https://api.data....|     Mobile Symphony O...|        237070234|             https://www.chari...|                     https://api.data....|
|https://www.chari...|Big Oak Ranch is ...|http://www.bigoak...|A Christian home ...|       Big Oak Ranch|237413017|10038|                92.2|                 164755|          2021-09-01T04:00:...|             https://d20umu42a...|             https://d20umu42a...|                    4|                      https://api.data....|                                99.34|                                     4|                                        89|                                          3|        Human Services|                   6|         https://www.chari...|https://d20umu42a...|            16|Youth Development...|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                      57645774|       Human Services - ...|                       15484928|                            0|                990 (all other) o...|             Charitable Organi...|              December, 2020|                    May, 1978|                        P73|                        null|          Independent - the...|                                   1|               Organization whic...|                 Group Home (Long ...|                           December|                                  null|                                     1|              Unconditional Exe...|                            P|                   null|                             AL|         Springville|                     35146|            6000 Shelley Drive|                          null|                    null|                            null|                 null|                       null|                           null|                           null|                null|                           https://api.data....|            Big Oak Ranch|        237413017|             https://www.chari...|                     https://api.data....|
|https://www.chari...|The Community Fou...|https://www.commu...|A Smart Place to ...|Community Foundat...|263750673|18112|               95.47|                 158298|          2021-02-01T05:00:...|             https://d20umu42a...|             https://d20umu42a...|                    4|                      https://api.data....|                                   95|                                     4|                                        96|                                          4|  Community Develop...|                  10|         https://www.chari...|https://d20umu42a...|            22|Community Foundat...|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                      38106163|       Philanthropy, Vol...|                       22248209|                         null|                990 (all other) o...|             Charitable Organi...|              December, 2020|              September, 2009|                        T31|                        null|          Independent - the...|                                   1|               Organization whic...|                 Community Foundat...|                           December|                                  null|                                     1|              Unconditional Exe...|                            T|                   null|                             AL|          Huntsville|                     35801|          303 Williams Aven...|                    Suite 1031|                    null|                            null|                 null|                       null|                           null|                           null|                null|                           https://api.data....|     Community Foundat...|        263750673|             https://www.chari...|                     https://api.data....|
+--------------------+--------------------+--------------------+--------------------+--------------------+---------+-----+--------------------+-----------------------+------------------------------+---------------------------------+---------------------------------+---------------------+------------------------------------------+-------------------------------------+--------------------------------------+------------------------------------------+-------------------------------------------+----------------------+--------------------+-----------------------------+--------------------+--------------+--------------------+--------------------------+--------------------+--------------------------------+-----------------------------+------------------------------+---------------------------+-------------------------------+-----------------------------+------------------------------------+---------------------------------+----------------------------+-----------------------------+---------------------------+----------------------------+------------------------------+------------------------------------+-----------------------------------+-------------------------------------+-----------------------------------+--------------------------------------+--------------------------------------+----------------------------------+-----------------------------+-----------------------+-------------------------------+--------------------+--------------------------+------------------------------+------------------------------+------------------------+--------------------------------+---------------------+---------------------------+-------------------------------+-------------------------------+--------------------+-----------------------------------------------+-------------------------+-----------------+---------------------------------+-----------------------------------------+
only showing top 5 rows

In [ ]:
# Load in a sql function to use columns
from pyspark.sql.functions import col
df.columns

# df.printSchema()

['charityNavigatorURL',
 'mission',
 'websiteURL',
 'tagLine',
 'charityName',
 'ein',
 'orgID',
 'currentRating__score',
 'currentRating__ratingID',
 'currentRating__publicationDate',
 'currentRating__ratingImage__small',
 'currentRating__ratingImage__large',
 'currentRating__rating',
 'currentRating___rapid_links__related__href',
 'currentRating__financialRating__score',
 'currentRating__financialRating__rating',
 'currentRating__accountabilityRating__score',
 'currentRating__accountabilityRating__rating',
 'category__categoryName',
 'category__categoryID',
 'category__charityNavigatorURL',
 'category__image',
 'cause__causeID',
 'cause__causeName',
 'cause__charityNavigatorURL',
 'cause__image',
 'irsClassification__deductibility',
 'irsClassification__subsection',
 'irsClassification__assetAmount',
 'irsClassification__nteeType',
 'irsClassification__incomeAmount',
 'irsClassification__nteeSuffix',
 'irsClassification__filingRequirement',
 'irsClassification__classification',
 'irsClassification__latest990',
 'irsClassification__rulingDate',
 'irsClassification__nteeCode',
 'irsClassification__groupName',
 'irsClassification__affiliation',
 'irsClassification__deductibilityCode',
 'irsClassification__foundationStatus',
 'irsClassification__nteeClassification',
 'irsClassification__accountingPeriod',
 'irsClassification__deductibilityDetail',
 'irsClassification__exemptOrgStatusCode',
 'irsClassification__exemptOrgStatus',
 'irsClassification__nteeLetter',
 'mailingAddress__country',
 'mailingAddress__stateOrProvince',
 'mailingAddress__city',
 'mailingAddress__postalCode',
 'mailingAddress__streetAddress1',
 'mailingAddress__streetAddress2',
 'donationAddress__country',
 'donationAddress__stateOrProvince',
 'donationAddress__city',
 'donationAddress__postalCode',
 'donationAddress__streetAddress1',
 'donationAddress__streetAddress2',
 'advisories__severity',
 'advisories__active___rapid_links__related__href',
 'organization__charityName',
 'organization__ein',
 'organization__charityNavigatorURL',
 'organization___rapid_links__related__href']

## **Connect to the AWS RDS instance and write each DataFrame to its table.**
---

In [ ]:
# Store environmental variable
from getpass import getpass
password = getpass('Enter database password (DB instance)')
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://database-analyzeup.c9mmdejuhxq9.us-west-1.rds.amazonaws.com:5432/analyzeup_project"
config = {"user":"postgres",
          "password": password,
          "driver":"org.postgresql.Driver"}

Enter database password (DB instance)··········

# ** Model is connected here to READ from and WRITE into tables from our dataset.
### ** Schema is created with 8 tables. We will keep editing and adding more helpful tables for the model training.

In [ ]:
# Test to write table into DB
df.write.jdbc(url=jdbc_url, table='complete_table', mode=mode, properties=config)
df.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+---------+-----+--------------------+-----------------------+------------------------------+---------------------------------+---------------------------------+---------------------+------------------------------------------+-------------------------------------+--------------------------------------+------------------------------------------+-------------------------------------------+----------------------+--------------------+-----------------------------+--------------------+--------------+--------------------+--------------------------+--------------------+--------------------------------+-----------------------------+------------------------------+---------------------------+-------------------------------+-----------------------------+------------------------------------+---------------------------------+----------------------------+-----------------------------+---------------------------+----------------------------+------------------------------+------------------------------------+-----------------------------------+-------------------------------------+-----------------------------------+--------------------------------------+--------------------------------------+----------------------------------+-----------------------------+-----------------------+-------------------------------+--------------------+--------------------------+------------------------------+------------------------------+------------------------+--------------------------------+---------------------+---------------------------+-------------------------------+-------------------------------+--------------------+-----------------------------------------------+-------------------------+-----------------+---------------------------------+-----------------------------------------+
| charityNavigatorURL|             mission|          websiteURL|             tagLine|         charityName|      ein|orgID|currentRating__score|currentRating__ratingID|currentRating__publicationDate|currentRating__ratingImage__small|currentRating__ratingImage__large|currentRating__rating|currentRating___rapid_links__related__href|currentRating__financialRating__score|currentRating__financialRating__rating|currentRating__accountabilityRating__score|currentRating__accountabilityRating__rating|category__categoryName|category__categoryID|category__charityNavigatorURL|     category__image|cause__causeID|    cause__causeName|cause__charityNavigatorURL|        cause__image|irsClassification__deductibility|irsClassification__subsection|irsClassification__assetAmount|irsClassification__nteeType|irsClassification__incomeAmount|irsClassification__nteeSuffix|irsClassification__filingRequirement|irsClassification__classification|irsClassification__latest990|irsClassification__rulingDate|irsClassification__nteeCode|irsClassification__groupName|irsClassification__affiliation|irsClassification__deductibilityCode|irsClassification__foundationStatus|irsClassification__nteeClassification|irsClassification__accountingPeriod|irsClassification__deductibilityDetail|irsClassification__exemptOrgStatusCode|irsClassification__exemptOrgStatus|irsClassification__nteeLetter|mailingAddress__country|mailingAddress__stateOrProvince|mailingAddress__city|mailingAddress__postalCode|mailingAddress__streetAddress1|mailingAddress__streetAddress2|donationAddress__country|donationAddress__stateOrProvince|donationAddress__city|donationAddress__postalCode|donationAddress__streetAddress1|donationAddress__streetAddress2|advisories__severity|advisories__active___rapid_links__related__href|organization__charityName|organization__ein|organization__charityNavigatorURL|organization___rapid_links__related__href|
+--------------------+--------------------+--------------------+--------------------+--------------------+---------+-----+--------------------+-----------------------+------------------------------+---------------------------------+---------------------------------+---------------------+------------------------------------------+-------------------------------------+--------------------------------------+------------------------------------------+-------------------------------------------+----------------------+--------------------+-----------------------------+--------------------+--------------+--------------------+--------------------------+--------------------+--------------------------------+-----------------------------+------------------------------+---------------------------+-------------------------------+-----------------------------+------------------------------------+---------------------------------+----------------------------+-----------------------------+---------------------------+----------------------------+------------------------------+------------------------------------+-----------------------------------+-------------------------------------+-----------------------------------+--------------------------------------+--------------------------------------+----------------------------------+-----------------------------+-----------------------+-------------------------------+--------------------+--------------------------+------------------------------+------------------------------+------------------------+--------------------------------+---------------------+---------------------------+-------------------------------+-------------------------------+--------------------+-----------------------------------------------+-------------------------+-----------------+---------------------------------+-----------------------------------------+
|https://www.chari...|Impact Alabama wa...|https://impactame...|Engaging a Genera...|      Impact America|200850212|15177|               78.12|                 166300|          2022-05-01T04:00:...|             https://d20umu42a...|             https://d20umu42a...|                    2|                      https://api.data....|                                78.25|                                     2|                                        78|                                          2|        Human Services|                   6|         https://www.chari...|https://d20umu42a...|            29|     Social Services|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                       1325910|       Educational Insti...|                        2197482|                         null|                990 (all other) o...|             Educational Organ...|                  June, 2020|                   June, 2004|                        B80|                        null|          Independent - the...|                                   1|               Organization whic...|                 Student Services,...|                               June|                                  null|                                     1|              Unconditional Exe...|                            B|                   null|                             AL|          Birmingham|                     35209|          601 Beacon Parkwa...|                     Suite 102|                    null|                            null|                 null|                       null|                           null|                           null|                null|                           https://api.data....|           Impact America|        200850212|             https://www.chari...|                     https://api.data....|
|https://www.chari...|Four Corners Mini...|http://fourcorner...|     The Gospel Sent|Four Corners Mini...|203589685|16270|               89.01|                 168459|          2022-02-01T05:00:...|             https://d20umu42a...|             https://d20umu42a...|                    3|                      https://api.data....|                                95.95|                                     4|                                        85|                                          3|              Religion|                   9|         https://www.chari...|https://d20umu42a...|            26|Religious Activities|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                       3032238|       Religion-Related,...|                        2082463|                         null|                990 (all other) o...|             Charitable Organi...|              December, 2020|                   June, 2007|                        X20|                        null|          Independent - the...|                                   1|               Organization that...|                            Christian|                           December|                                  null|                                     1|              Unconditional Exe...|                            X|                   null|                             AL|             Opelika|                     36801|          202 South 8th Street|                          null|                    null|                            null|                 null|                       null|                           null|                           null|                null|                           https://api.data....|     Four Corners Mini...|        203589685|             https://www.chari...|                     https://api.data....|
|https://www.chari...|The Mobile Sympho...|http://www.mobile...|Working to create...|Mobile Symphony O...|237070234|15711|               70.42|                 158948|          2021-09-01T04:00:...|             https://d20umu42a...|             https://d20umu42a...|                    2|                      https://api.data....|                                59.65|                                     1|                                        89|                                          3|  Arts, Culture, Hu...|                   2|         https://www.chari...|https://d20umu42a...|             4|     Performing Arts|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                       1265941|       Arts, Culture and...|                        1463478|                            0|                990 (all other) o...|             Educational Organ...|                  June, 2021|              September, 1970|                        A69|                        null|          Independent - the...|                                   1|               Organization that...|                  Symphony Orchestras|                               June|                                  null|                                     1|              Unconditional Exe...|                            A|                   null|                             AL|              Mobile|                     36602|            257 Dauphin Street|                          null|                    null|                            null|                 null|                       null|                           null|                           null|                null|                           https://api.data....|     Mobile Symphony O...|        237070234|             https://www.chari...|                     https://api.data....|
|https://www.chari...|Big Oak Ranch is ...|http://www.bigoak...|A Christian home ...|       Big Oak Ranch|237413017|10038|                92.2|                 164755|          2021-09-01T04:00:...|             https://d20umu42a...|             https://d20umu42a...|                    4|                      https://api.data....|                                99.34|                                     4|                                        89|                                          3|        Human Services|                   6|         https://www.chari...|https://d20umu42a...|            16|Youth Development...|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                      57645774|       Human Services - ...|                       15484928|                            0|                990 (all other) o...|             Charitable Organi...|              December, 2020|                    May, 1978|                        P73|                        null|          Independent - the...|                                   1|               Organization whic...|                 Group Home (Long ...|                           December|                                  null|                                     1|              Unconditional Exe...|                            P|                   null|                             AL|         Springville|                     35146|            6000 Shelley Drive|                          null|                    null|                            null|                 null|                       null|                           null|                           null|                null|                           https://api.data....|            Big Oak Ranch|        237413017|             https://www.chari...|                     https://api.data....|
|https://www.chari...|The Community Fou...|https://www.commu...|A Smart Place to ...|Community Foundat...|263750673|18112|               95.47|                 158298|          2021-02-01T05:00:...|             https://d20umu42a...|             https://d20umu42a...|                    4|                      https://api.data....|                                   95|                                     4|                                        96|                                          4|  Community Develop...|                  10|         https://www.chari...|https://d20umu42a...|            22|Community Foundat...|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                      38106163|       Philanthropy, Vol...|                       22248209|                         null|                990 (all other) o...|             Charitable Organi...|              December, 2020|              September, 2009|                        T31|                        null|          Independent - the...|                                   1|               Organization whic...|                 Community Foundat...|                           December|                                  null|                                     1|              Unconditional Exe...|                            T|                   null|                             AL|          Huntsville|                     35801|          303 Williams Aven...|                    Suite 1031|                    null|                            null|                 null|                       null|                           null|                           null|                null|                           https://api.data....|     Community Foundat...|        263750673|             https://www.chari...|                     https://api.data....|
|https://www.chari...|The Tigers Unlimi...|http://www.auburn...|Supporting Auburn...|Tigers Unlimited ...|364538203|13761|               88.71|                 165798|          2021-12-23T05:00:...|             https://d20umu42a...|             https://d20umu42a...|                    3|                      https://api.data....|                                94.56|                                     4|                                        85|                                          3|        Human Services|                   6|         https://www.chari...|https://d20umu42a...|            15|Multipurpose Huma...|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                      78592536|       Philanthropy, Vol...|                       43067540|                         null|                990 (all other) o...|             Charitable Organi...|                  June, 2021|               February, 2004|                        T11|                        null|          Independent - the...|                                   1|               Organization whic...|                 Single Organizati...|                               June|                                  null|                                     1|              Unconditional Exe...|                            T|                   null|                             AL|              Auburn|                     36849|          392 South Donahue...|                          null|                    null|                              AL|               Auburn|                      36831|                   P.O. Box 351|                           null|                null|                           https://api.data....|     Tigers Unlimited ...|        364538203|             https://www.chari...|                     https://api.data....|
|https://www.chari...|neverthirst provi...|https://www.never...|Bringing clean an...|         neverthirst|450594639|17385|               89.04|                 162262|          2021-07-01T04:00:...|             https://d20umu42a...|             https://d20umu42a...|                    3|                      https://api.data....|                                84.51|                                     3|                                       100|                                          4|         International|                   7|         https://www.chari...|https://d20umu42a...|            20|Development and R...|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                       2950918|                       null|                        4852263|                         null|                990 (all other) o...|             Charitable Organi...|              December, 2020|               February, 2009|                        Q31|                        null|          Independent - the...|                                   1|               Organization whic...|                                 null|                           December|                                  null|                                     1|              Unconditional Exe...|                            Q|                   null|                             AL|          Birmingham|                     35242|           1111 Edenton Street|                          null|                    null|                            null|                 null|                       null|                           null|                           null|                null|                           https://api.data....|              neverthirst|        450594639|             https://www.chari...|                     https://api.data....|

In [ ]:
# Test to read table from DB
read_df = spark.read.jdbc(url=jdbc_url, table='complete_table', properties= config) 
read_df.limit(10).show()

+--------------------+--------------------+--------------------+--------------------+--------------------+---------+-----+--------------------+-----------------------+------------------------------+---------------------------------+---------------------------------+---------------------+------------------------------------------+-------------------------------------+--------------------------------------+------------------------------------------+-------------------------------------------+----------------------+--------------------+-----------------------------+--------------------+--------------+--------------------+--------------------------+--------------------+--------------------------------+-----------------------------+------------------------------+---------------------------+-------------------------------+-----------------------------+------------------------------------+---------------------------------+----------------------------+-----------------------------+---------------------------+----------------------------+------------------------------+------------------------------------+-----------------------------------+-------------------------------------+-----------------------------------+--------------------------------------+--------------------------------------+----------------------------------+-----------------------------+-----------------------+-------------------------------+--------------------+--------------------------+------------------------------+------------------------------+------------------------+--------------------------------+---------------------+---------------------------+-------------------------------+-------------------------------+--------------------+-----------------------------------------------+-------------------------+-----------------+---------------------------------+-----------------------------------------+
| charityNavigatorURL|             mission|          websiteURL|             tagLine|         charityName|      ein|orgID|currentRating__score|currentRating__ratingID|currentRating__publicationDate|currentRating__ratingImage__small|currentRating__ratingImage__large|currentRating__rating|currentRating___rapid_links__related__href|currentRating__financialRating__score|currentRating__financialRating__rating|currentRating__accountabilityRating__score|currentRating__accountabilityRating__rating|category__categoryName|category__categoryID|category__charityNavigatorURL|     category__image|cause__causeID|    cause__causeName|cause__charityNavigatorURL|        cause__image|irsClassification__deductibility|irsClassification__subsection|irsClassification__assetAmount|irsClassification__nteeType|irsClassification__incomeAmount|irsClassification__nteeSuffix|irsClassification__filingRequirement|irsClassification__classification|irsClassification__latest990|irsClassification__rulingDate|irsClassification__nteeCode|irsClassification__groupName|irsClassification__affiliation|irsClassification__deductibilityCode|irsClassification__foundationStatus|irsClassification__nteeClassification|irsClassification__accountingPeriod|irsClassification__deductibilityDetail|irsClassification__exemptOrgStatusCode|irsClassification__exemptOrgStatus|irsClassification__nteeLetter|mailingAddress__country|mailingAddress__stateOrProvince|mailingAddress__city|mailingAddress__postalCode|mailingAddress__streetAddress1|mailingAddress__streetAddress2|donationAddress__country|donationAddress__stateOrProvince|donationAddress__city|donationAddress__postalCode|donationAddress__streetAddress1|donationAddress__streetAddress2|advisories__severity|advisories__active___rapid_links__related__href|organization__charityName|organization__ein|organization__charityNavigatorURL|organization___rapid_links__related__href|
+--------------------+--------------------+--------------------+--------------------+--------------------+---------+-----+--------------------+-----------------------+------------------------------+---------------------------------+---------------------------------+---------------------+------------------------------------------+-------------------------------------+--------------------------------------+------------------------------------------+-------------------------------------------+----------------------+--------------------+-----------------------------+--------------------+--------------+--------------------+--------------------------+--------------------+--------------------------------+-----------------------------+------------------------------+---------------------------+-------------------------------+-----------------------------+------------------------------------+---------------------------------+----------------------------+-----------------------------+---------------------------+----------------------------+------------------------------+------------------------------------+-----------------------------------+-------------------------------------+-----------------------------------+--------------------------------------+--------------------------------------+----------------------------------+-----------------------------+-----------------------+-------------------------------+--------------------+--------------------------+------------------------------+------------------------------+------------------------+--------------------------------+---------------------+---------------------------+-------------------------------+-------------------------------+--------------------+-----------------------------------------------+-------------------------+-----------------+---------------------------------+-----------------------------------------+
|https://www.chari...|Founded in 1944, ...|http://www.omsi.edu/|Touch. Explore. Q...|Oregon Museum of ...|930402877| 7602|               89.07|                 160730|          2021-09-01T04:00:...|             https://d20umu42a...|             https://d20umu42a...|                    3|                      https://api.data....|                                84.55|                                     3|                                       100|                                          4|  Arts, Culture, Hu...|                   2|         https://www.chari...|https://d20umu42a...|             3|             Museums|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                      60251950|       Arts, Culture and...|                       19605742|                            0|                990 (all other) o...|             Charitable Organi...|                   May, 2021|                    May, 1949|                        A57|                        null|          Independent - the...|                                   1|               Organization that...|                 Science and Techn...|                                May|                                  null|                                     1|              Unconditional Exe...|                            A|                   null|                             OR|            Portland|                     97214|          1945 Southeast Wa...|                          null|                    null|                            null|                 null|                       null|                           null|                           null|                null|                           https://api.data....|     Oregon Museum of ...|        930402877|             https://www.chari...|                     https://api.data....|
|https://www.chari...|Founded in 1935, ...|http://www.osfash...|Revealing our col...|Oregon Shakespear...|930407022| 4281|                81.9|                 160265|          2021-06-01T04:00:...|             https://d20umu42a...|             https://d20umu42a...|                    3|                      https://api.data....|                                79.27|                                     2|                                        85|                                          3|  Arts, Culture, Hu...|                   2|         https://www.chari...|https://d20umu42a...|             4|     Performing Arts|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                      56401419|       Arts, Culture and...|                       26315521|                            0|                990 (all other) o...|             Educational Organ...|               October, 2020|                   June, 1939|                        A65|                        null|          Independent - the...|                                   1|               Organization that...|                              Theater|                            October|                                  null|                                     1|              Unconditional Exe...|                            A|                   null|                             OR|             Ashland|                     97520|          15 South Pioneer ...|                          null|                    null|                              OR|              Ashland|                      97520|                   P.O. Box 158|                           null|                null|                           https://api.data....|     Oregon Shakespear...|        930407022|             https://www.chari...|                     https://api.data....|
|https://www.chari...|Responding to Chr...|https://www.ccslc...|Help and Hope for...|Catholic Communit...|930409105|14738|               85.01|                 166153|          2022-04-01T04:00:...|             https://d20umu42a...|             https://d20umu42a...|                    3|                      https://api.data....|                                   80|                                     3|                                        93|                                          4|        Human Services|                   6|         https://www.chari...|https://d20umu42a...|            29|     Social Services|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                       2616186|       Human Services - ...|                        5099726|                            0|                990 (all other) o...|             Charitable Organi...|                  June, 2020|                  March, 1946|                        P28|        UNITED STATES CON...|          Subordinate - the...|                                   1|               Organization whic...|                 Neighborhood Cent...|                               June|                                  null|                                     1|              Unconditional Exe...|                            P|                   null|                             OR|         Springfield|                     97477|                 1025 G Street|                          null|                    null|                            null|                 null|                       null|                           null|                           null|                null|                           https://api.data....|     Catholic Communit...|        930409105|             https://www.chari...|                     https://api.data....|
|https://www.chari...|Since 1923, the S...|http://www.sunshi...|Helping families ...|Sunshine Division...|930429354| 6604|               93.59|                 167671|          2022-03-01T05:00:...|             https://d20umu42a...|             https://d20umu42a...|                    4|                      https://api.data....|                                91.88|                                     4|                                        96|                                          4|        Human Services|                   6|         https://www.chari...|https://d20umu42a...|            18|Food Banks, Food ...|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                       7563723|       Crime, Legal-Related|                       10563284|                            Z|                990 (all other) o...|             Charitable Organi...|                  June, 2020|                  March, 1967|                        I60|                        null|          Independent - the...|                                   1|               Organization whic...|                 Law Enforcement A...|                               June|                                  null|                                     1|              Unconditional Exe...|                            I|                   null|                             OR|            Portland|                     97227|          687 North Thompso...|                          null|                    null|                            null|                 null|                       null|                           null|                           null|                null|                           https://api.data....|     Sunshine Division...|        930429354|             https://www.chari...|                     https://api.data....|
|https://www.chari...|Since its foundin...|http://www.orsymp...|Moving Music Forward|     Oregon Symphony|930446527| 6412|               86.68|                 163697|          2021-11-01T04:00:...|             https://d20umu42a...|             https://d20umu42a...|                    3|                      https://api.data....|                                82.52|                                     3|                                        93|                                          4|  Arts, Culture, Hu...|                   2|         https://www.chari...|https://d20umu42a...|             4|     Performing Arts|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                      21520375|       Arts, Culture and...|                       14183328|                            0|                990 (all other) o...|             Educational Organ...|                  June, 2020|                   June, 1954|                        A69|                        null|          Independent - the...|                                   1|               Organization whic...|                  Symphony Orchestras|                               June|                                  null|                                     1|              Unconditional Exe...|                            A|                   null|                             OR|            Portland|                     97205|          909 Southwest Was...|                          null|                    null|                              OR|             Portland|                      97205|           921 Southwest Was...|                      Suite 200|                null|                           https://api.data....|          Oregon Symphony|        930446527|             https://www.chari...|                     https://api.data....|
|https://www.chari...|Founded in 1944, ...|http://www.green-...|Loving animals si...|Greenhill Humane ...|930467412| 7607|               84.64|                 164020|          2022-02-01T05:00:...|             https://d20umu42a...|             https://d20umu42a...|                    3|                      https://api.data....|                                78.29|                                     2|                                       100|                                          4|               Animals|                   1|         https://www.chari...|https://d20umu42a...|             2|Animal Rights, We...|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                       9678406|             Animal-Related|                        4115124|                            0|                990 (all other) o...|             Organization to P...|                  June, 2020|                    May, 1957|                        D20|                        null|          Independent - the...|                                   1|               Organization whic...|                 Animal Protection...|                               June|                                  null|                                     1|              Unconditional Exe...|                            D|                   null|                             OR|              Eugene|                     97402|          88530 Green Hill ...|                          null|                    null|                            null|                 null|                       null|                           null|                           null|                null|                           https://api.data....|     Greenhill Humane ...|        930467412|             https://www.chari...|                     https://api.data....|
|https://www.chari...|Boys & Girls Club...|http://www.bgcpor...|Enabling young pe...|Boys & Girls Club...|930474800|12496|               87.04|                 167803|          2022-04-01T04:00:...|             https://d20umu42a...|             https://d20umu42a...|                    3|                      https://api.data....|                                85.34|                                     3|                                        89|                                          3|        Human Services|                   6|         https://www.chari...|https://d20umu42a...|            16|Youth Development...|      https://www.chari...|https://d20umu42a...|            Contributions are...|                    501(c)(3)|                      26157816|          Youth Development|                        5078680|                            Z|                990 (all other) o...|             Charitable Organi...|                  June, 2020|                   July, 1948|                        O23|                        null|          Independent - the...|                                   1|               Organization whic...|                 Boys and Girls Cl...|                               June|                                  null|                                     1|              Unconditional Exe...|                            O|                   null|                             OR|            Portland|                     97202|          8203 SE Seventh A...|                     Suite 100|                    null|                              OR|             Portland|                      97282|                P.O. Box 820209|                           null|                null|                           https://api.data....|     Boys & Girls Club...|        930474800|             https://www.chari...|                     https://api.data....|

In [ ]:
ein_df = spark.read.jdbc(url=jdbc_url, table='ein_table', properties= config) 
name_df = spark.read.jdbc(url=jdbc_url, table='name_table', properties= config) 
income_df = spark.read.jdbc(url=jdbc_url, table='income_table', properties= config) 
publish_date_df = spark.read.jdbc(url=jdbc_url, table='publish_date', properties= config) 
rating_df = spark.read.jdbc(url=jdbc_url, table='rating_table', properties= config) 
state_df = spark.read.jdbc(url=jdbc_url, table='state_table', properties= config)

In [ ]:
print(ein_df.show(5), name_df.show(5))

+-----+---+
|orgid|ein|
+-----+---+
+-----+---+

+-----+------------------------+
|orgid|organization_charityname|
+-----+------------------------+
+-----+------------------------+

None None

# ** Data Cleaning **

In [ ]:
print(f"*************The original dataset contains {df.count()} rows*************************")

*************The original dataset contains 3463 rows*************************

In [ ]:
 # Select insterested columns
 select_columns = ["orgID", 
                   "currentRating__financialRating__rating", 
                   "currentRating__accountabilityRating__rating", 
                   "irsClassification__assetAmount"]

In [ ]:
selected_df =  df[select_columns]
selected_df.show(10)

3463
+-----+--------------------------------------+-------------------------------------------+------------------------------+
|orgID|currentRating__financialRating__rating|currentRating__accountabilityRating__rating|irsClassification__assetAmount|
+-----+--------------------------------------+-------------------------------------------+------------------------------+
|15177|                                     2|                                          2|                       1325910|
|16270|                                     4|                                          3|                       3032238|
|15711|                                     1|                                          3|                       1265941|
|10038|                                     4|                                          3|                      57645774|
|18112|                                     4|                                          4|                      38106163|
|13761|                                     4|                                          3|                      78592536|
|17385|                                     3|                                          4|                       2950918|
| 6221|                                     4|                                          4|                      42553839|
|17428|                                     3|                                          3|                       5985023|
| 9596|                                     2|                                          2|                      18670748|
+-----+--------------------------------------+-------------------------------------------+------------------------------+
only showing top 10 rows

In [ ]:
# cleaned_df.write.csv("cleaned_table.csv")

In [ ]:
selected_df.dtypes

[('orgID', 'string'),
 ('currentRating__financialRating__rating', 'string'),
 ('currentRating__accountabilityRating__rating', 'string'),
 ('irsClassification__assetAmount', 'string')]

In [ ]:
# cleaned_df.write.jdbc(url=jdbc_url, table='cleaned_table', mode=mode, properties=config)
# cleaned_df.show(3)

+-----+--------------------------------------+-------------------------------------------+------------------------------+
|orgID|currentRating__financialRating__rating|currentRating__accountabilityRating__rating|irsClassification__assetAmount|
+-----+--------------------------------------+-------------------------------------------+------------------------------+
|15177|                                     2|                                          2|                       1325910|
|16270|                                     4|                                          3|                       3032238|
|15711|                                     1|                                          3|                       1265941|
+-----+--------------------------------------+-------------------------------------------+------------------------------+
only showing top 3 rows

In [ ]:
# # Convert column orgID into integer
# selected_df_convertINT = selected_df.withColumn("orgID",col("orgID").cast("integer"))
# print(selected_df_convertINT.count())
# selected_df_convertINT.dtypes

3463

[('orgID', 'int'),
 ('currentRating__financialRating__rating', 'string'),
 ('currentRating__accountabilityRating__rating', 'string'),
 ('irsClassification__assetAmount', 'string')]

In [ ]:
# Clean data keeping only the rows with "orgID" valid
cleaned_df = selected_df.filter(selected_df["orgID"].cast("int").isNotNull())
print(cleaned_df.count())
cleaned_df.show(10)

3354
+-----+--------------------------------------+-------------------------------------------+------------------------------+
|orgID|currentRating__financialRating__rating|currentRating__accountabilityRating__rating|irsClassification__assetAmount|
+-----+--------------------------------------+-------------------------------------------+------------------------------+
|15177|                                     2|                                          2|                       1325910|
|16270|                                     4|                                          3|                       3032238|
|15711|                                     1|                                          3|                       1265941|
|10038|                                     4|                                          3|                      57645774|
|18112|                                     4|                                          4|                      38106163|
|13761|                                     4|                                          3|                      78592536|
|17385|                                     3|                                          4|                       2950918|
| 6221|                                     4|                                          4|                      42553839|
|17428|                                     3|                                          3|                       5985023|
| 9596|                                     2|                                          2|                      18670748|
+-----+--------------------------------------+-------------------------------------------+------------------------------+
only showing top 10 rows

In [ ]:
# Write clean_table into DB
cleaned_df.write.jdbc(url=jdbc_url, table='cleaned_table', mode=mode, properties=config)
cleaned_df.show()

+-----+--------------------------------------+-------------------------------------------+------------------------------+
|orgID|currentRating__financialRating__rating|currentRating__accountabilityRating__rating|irsClassification__assetAmount|
+-----+--------------------------------------+-------------------------------------------+------------------------------+
|15177|                                     2|                                          2|                       1325910|
|16270|                                     4|                                          3|                       3032238|
|15711|                                     1|                                          3|                       1265941|
|10038|                                     4|                                          3|                      57645774|
|18112|                                     4|                                          4|                      38106163|
|13761|                                     4|                                          3|                      78592536|
|17385|                                     3|                                          4|                       2950918|
| 6221|                                     4|                                          4|                      42553839|
|17428|                                     3|                                          3|                       5985023|
| 9596|                                     2|                                          2|                      18670748|
| 5540|                                     4|                                          3|                      15638416|
|14817|                                     3|                                          3|                      42065426|
| 9618|                                     3|                                          0|                        285335|
| 9633|                                     4|                                          4|                      41750720|
|12876|                                     4|                                          2|                       1421094|
|14768|                                     1|                                          3|                       5012677|
| 4630|                                     4|                                          4|                     119005962|
|13339|                                     4|                                          4|                       9988776|
| 7259|                                     3|                                          3|                      10709041|
|16692|                                     3|                                          1|                       5652724|
+-----+--------------------------------------+-------------------------------------------+------------------------------+
only showing top 20 rows

In [ ]:
print(f"*************The cleaned dataset contains {cleaned_df.count()} rows*************************")

*************The cleaned dataset contains 3354 rows*************************

# **Read table**

### 1. Read cleaned_table directly from DB

In [ ]:
cleaned_df = spark.read.jdbc(url=jdbc_url, table='cleaned_table', properties= config) 
print(cleaned_df.count())
cleaned_df.show()

3354
+-----+--------------------------------------+-------------------------------------------+------------------------------+
|orgID|currentRating__financialRating__rating|currentRating__accountabilityRating__rating|irsClassification__assetAmount|
+-----+--------------------------------------+-------------------------------------------+------------------------------+
| 7602|                                     3|                                          4|                      60251950|
| 4281|                                     2|                                          3|                      56401419|
|14738|                                     3|                                          4|                       2616186|
| 6604|                                     4|                                          4|                       7563723|
| 6412|                                     3|                                          4|                      21520375|
| 7607|                                     2|                                          4|                       9678406|
|12496|                                     3|                                          3|                      26157816|
|15962|                                     1|                                          3|                       4185267|
| 9282|                                     3|                                          4|                       1454179|
|12007|                                     3|                                          3|                       2774326|
| 5778|                                     4|                                          4|                       4172920|
| 8316|                                     4|                                          3|                       9908368|
| 6413|                                     2|                                          4|                      15989040|
| 6414|                                     2|                                          2|                       1333882|
| 5779|                                     2|                                          3|                       8544155|
| 7414|                                     3|                                          4|                       3415823|
| 6415|                                     1|                                          4|                       2646903|
| 5780|                                     4|                                          4|                      22306039|
| 6600|                                     4|                                          4|                      39741283|
|15217|                                     3|                                          4|                       7475039|
+-----+--------------------------------------+-------------------------------------------+------------------------------+
only showing top 20 rows


### 2. Read cleaned_table from S3 in Spark

In [ ]:
from pyspark import SparkFiles

spark.sparkContext.addFile("https://analyzeup-hz.s3.us-west-1.amazonaws.com/cleaned_table.csv")
cleaned_df = spark.read.csv(SparkFiles.get("cleaned_table.csv"), sep=',', header=True, inferSchema=True)

cleaned_df.count()

3354

### 3. Read cleaned_table from S3 using Pandas

In [ ]:
import pandas as pd
import io
import requests
clean_table_url="https://analyzeup-hz.s3.us-west-1.amazonaws.com/cleaned_table.csv"
s = requests.get(clean_table_url).content
clean_table_df = pd.read_csv(io.StringIO(s.decode('utf-8'))) 
# (, on_bad_lines='skip)
print(clean_table_df.count())
clean_table_df.head(5)

orgID                                          3354
currentRating__financialRating__rating         3354
currentRating__accountabilityRating__rating    3354
irsClassification__assetAmount                 3336
dtype: int64

,orgID,currentRating__financialRating__rating,currentRating__accountabilityRating__rating,irsClassification__assetAmount
0,7602,3.0,4,60251950
1,4281,2.0,3,56401419
2,14738,3.0,4,2616186
3,6604,4.0,4,7563723
4,6412,3.0,4,21520375

# ----------------------------------------------------------------
# ***********************Read Comprehensive Dataset from s3******************

In [6]:
comprehensive_url = "https://analyzeup-hz.s3.us-west-1.amazonaws.com/Comprehensive_Data_List_Cleaned_AD.csv"
comprehensive_name = "Comprehensive_Data_List_Cleaned_AD.csv"

In [7]:
from pyspark import SparkFiles

spark.sparkContext.addFile(comprehensive_url)
comprehensive_df = spark.read.csv(SparkFiles.get(comprehensive_name), sep=',', header=True, inferSchema=True)
comprehensive_df.show(5)

+-----+--------------------+--------------------+----------+-----+-----+--------+--------------------+--------------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+----------------+--------------+
|OrgID|        Charity Name|            Address |      City|State|  Zip|  County|         Website URL|      Category|               Cause|            Tag Line|             Mission|Total Revenue|      Total Expenses|Fundraising Expenses|          CEO Salary|Total Net Assets|Overall Rating|
+-----+--------------------+--------------------+----------+-----+-----+--------+--------------------+--------------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+----------------+--------------+
|10278| United Methodist...|458 Ponce De Leon...|   Atlanta|   GA|30308|  Fulton|http://www.umcor....| International|Development and R...|  Be there. Be hope.|Founded in 1940, ...|   47867854.0|          71196129.0|            798406.0|            118010.0|     111327442.0|             4|
|11013|"""I Have a Dream...|322 Eighth Avenue...|  New York|   NY|10001|New York|http://www.ihavea...|     Education|Scholarship and F...|Empowering childr...|"Founded in 1986 ...|    knowledge| and habits they ...| we are putting o...| each Dreamer rec...|       1673033.0|     2911790.0|
| 6466|      10,000 Degrees|1650 Los Gamos Dr...|San Rafael|   CA|94903|   Marin|http://www.10000d...|     Education|Scholarship and F...|Creating College ...|A leading college...|   12542185.0|           9258322.0|            997549.0|            211442.0|      13592921.0|             4|
|12098|100 Black Men of ...|141 Auburn Avenue...|   Atlanta|   GA|30303|  Fulton|http://www.100bla...|Human Services|Youth Development...|Improving the qua...|Founded in 1991, ...|    3969946.0|           4366870.0|            183829.0|             46276.0|       3407241.0|             3|
|12123| 100 Club of Arizona|333 North 44th St...|   Phoenix|   AZ|85008|Maricopa|http://www.100clu...|Human Services|Multipurpose Huma...|Supporting famili...|Officially organi...|    6423106.0|           2201743.0|            180314.0|            129940.0|       7132258.0|             3|
+-----+--------------------+--------------------+----------+-----+-----+--------+--------------------+--------------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+----------------+--------------+
only showing top 5 rows

In [72]:
comprehensive_df.count()

8930

 -------------- **Save Comprehensive Table to DB** ----------------

In [67]:
# Store environmental variable
from getpass import getpass
password = getpass('Enter database password (DB instance)')
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://database-analyzeup.c9mmdejuhxq9.us-west-1.rds.amazonaws.com:5432/analyzeup_project"
config = {"user":"postgres",
          "password": password,
          "driver":"org.postgresql.Driver"}

Enter database password (DB instance)··········

In [68]:
# Write table into DB
comprehensive_df.write.jdbc(url=jdbc_url, table='comprehensive_table', mode=mode, properties=config)

In [69]:
# Read table from DB
comprehensive_table = spark.read.jdbc(url=jdbc_url, table='comprehensive_table', properties= config) 
comprehensive_table.limit(10).show()

+-----+--------------------+--------------------+--------------+-----+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+----------------+--------------+
|OrgID|        Charity Name|            Address |          City|State|  Zip|              County|         Website URL|            Category|               Cause|            Tag Line|             Mission|Total Revenue|      Total Expenses|Fundraising Expenses|          CEO Salary|Total Net Assets|Overall Rating|
+-----+--------------------+--------------------+--------------+-----+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+----------------+--------------+
| 6581|Society of St. Vi...|  50 North B Street |     San Mateo|   CA|94401|           San Mateo|  http://svdpsm.org/|      Human Services|     Social Services|Providing person ...|In the spirit of ...|    5025196.0|           5343340.0|            330601.0|             16076.0|       7627194.0|             3|
|14575|Society of the Ci...|2118 Massachusett...|    Washington|   DC|20008|District of Columbia|http://www.societ...|Arts, Culture, Hu...|Libraries, Histor...|Promoting the mem...|The Society of th...|    4679459.0|           4909762.0|            376822.0|            226923.0|      29161898.0|             3|
|15858|Society of the Fo...|100 Four Arts Plaza |    Palm Beach|   FL|33480|          Palm Beach|http://www.fourar...|Arts, Culture, Hu...|     Performing Arts|Offering quality ...|The Society of th...|   10871317.0|           9412768.0|            668299.0|            317572.0|      84857604.0|             3|
|18757|         Soi Dog USA|1321 Upland Drive...|       Houston|   TX|77043|              Harris|https://www.soido...|             Animals|Animal Rights, We...|Improve the welfa...|Soi Dog USA's mis...|    4955121.0|           4853531.0|             53121.0|                 0.0|       1086646.0|             4|
|14463|Soil Born Farms U...|   2140 Chase Drive |Rancho Cordova|   CA|95670|          Sacramento|https://www.soilb...|           Education|Adult Education P...|Connecting food, ...|Founded in 2004, ...|    1831191.0|           1755771.0|            109779.0|             86496.0|        580846.0|             2|
|12980|    Sojourner Center|     P.O. Box 20156 |       Phoenix|   AZ|85036|            Maricopa|http://www.sojour...|      Human Services|     Social Services|  Transforming lives|Since 1977, Sojou...|    4830994.0|           5370331.0|            287990.0|            144375.0|       6475419.0|             1|
| 6867|          Sojourners|       408 C St. NE |    Washington|   DC|20002|District of Columbia|http://www.sojo.net/|            Religion|Religious Media a...|Faith, politics, ...|Founded in 1971, ...|    5763309.0|           6269943.0|            767727.0|            214396.0|       1645166.0|             3|
| 8211|Solar Cookers Int...|2400 22nd Street ...|    Sacramento|   CA|95818|          Sacramento|http://www.solarc...|         Environment|Environmental Pro...|Harnessing the su...|Founded in 1987, ...|     726194.0|            554275.0|             61657.0|             15938.0|       1005513.0|             4|
|10278| United Methodist...|458 Ponce De Leon...|       Atlanta|   GA|30308|              Fulton|http://www.umcor....|       International|Development and R...|  Be there. Be hope.|Founded in 1940, ...|   47867854.0|          71196129.0|            798406.0|            118010.0|     111327442.0|             4|
|11013|"""I Have a Dream...|322 Eighth Avenue...|      New York|   NY|10001|            New York|http://www.ihavea...|           Education|Scholarship and F...|Empowering childr...|"Founded in 1986 ...|    knowledge| and habits they ...| we are putting o...| each Dreamer rec...|       1673033.0|     2911790.0|
+-----+--------------------+--------------------+--------------+-----+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+----------------+--------------+

------------- **Completed** -----------

In [62]:
# Other test to extract data (less rows than coding above/ignore this request)
# ------------------- Keep Using pyspark to extract more info from the original comprehensive dataset-----------------------
# Load the data from AWS S3 (For testing purposes use URL, later for production connect to Database)
import requests
import pandas as pd
import io
s=requests.get(comprehensive_url).content
df=pd.read_csv(io.StringIO(s.decode('utf-8')))
df.head(1)

,OrgID,Charity Name,Address,City,State,Zip,County,Website URL,Category,Cause,Tag Line,Mission,Total Revenue,Total Expenses,Fundraising Expenses,CEO Salary,Total Net Assets,Overall Rating
0,10278,United Methodist Committee on Relief of Globa...,458 Ponce De Leon Avenue,Atlanta,GA,30308,Fulton,http://www.umcor.org/,International,Development and Relief Services,Be there. Be hope.,"Founded in 1940, the United Methodist Committe...",47867854.0,71196129.0,798406.0,118010.0,111327442.0,4

In [74]:
df.count()

OrgID                   8590
Charity Name            8590
Address                 8590
City                    8590
State                   8590
Zip                     8590
County                  8590
Website URL             8590
Category                8590
Cause                   8590
Tag Line                8590
Mission                 8590
Total Revenue           8590
Total Expenses          8590
Fundraising Expenses    8590
CEO Salary              8590
Total Net Assets        8590
Overall Rating          8590
dtype: int64

# ***********************Read Comprehensive Dataset from API******************

In [ ]:
from pyspark import SparkFiles

spark.sparkContext.addFile(ORG_API)
comprehensive_df = spark.read.csv(SparkFiles.get(), sep=',', header=True, inferSchema=True)
comprehensive_df.show(5)

In [29]:
ORG_API = "https://api.data.charitynavigator.org/v2/Organizations?app_id=03497d2a&app_key=a8f11053000c4090d15716dc28536e39&rated=true"

In [34]:
import requests
import pandas as pd
query = requests.get(ORG_API).json()

100

In [35]:
query[0]

{'advisories': {'active': {'_rapid_links': {'related': {'href': 'https://api.data.charitynavigator.org/v2/Organizations/010202467/Advisories?status=ACTIVE'}}},
  'severity': None},
 'category': {'categoryID': 11,
  'categoryName': 'Research and Public Policy',
  'charityNavigatorURL': 'https://www.charitynavigator.org/index.cfm?bay=search.categories&categoryid=11&utm_source=DataAPI&utm_content=9af5afa3',
  'image': 'https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/categories/research.png?utm_source=DataAPI&utm_content=9af5afa3'},
 'cause': {'causeID': 35,
  'causeName': 'Non-Medical Science & Technology Research',
  'charityNavigatorURL': 'https://www.charitynavigator.org/index.cfm?bay=search.results&cgid=11&cuid=35&utm_source=DataAPI&utm_content=9af5afa3',
  'image': 'https://d20umu42aunjpx.cloudfront.net/_gfx_/causes/small/nonmedical.jpg?utm_source=DataAPI&utm_content=9af5afa3'},
 'charityName': 'Mount Desert Island Biological Laboratory',
 'charityNavigatorURL': 'https://www.charitynavigator.org/?bay=search.summary&orgid=5954&utm_source=DataAPI&utm_content=9af5afa3',
 'currentRating': {'_rapid_links': {'related': {'href': 'https://api.data.charitynavigator.org/v2/Organizations/010202467/Ratings/160491'}},
  'accountabilityRating': {'rating': 4, 'score': 96},
  'financialRating': {'rating': 3, 'score': 83.54},
  'publicationDate': '2021-07-01T04:00:00.000Z',
  'rating': 3,
  'ratingID': 160491,
  'ratingImage': {'large': 'https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/stars/3stars.png',
   'small': 'https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/stars/3starsb.png'},
  'score': 88.02},
 'donationAddress': {'city': 'Salisbury Cove',
  'country': None,
  'postalCode': '04672',
  'stateOrProvince': 'ME',
  'streetAddress1': 'PO Box 35',
  'streetAddress2': None},
 'ein': '010202467',
 'irsClassification': {'accountingPeriod': 'December',
  'affiliation': 'Independent - the organization is an independent organization or an independent auxiliary (i.e., not affiliated with a National, Regional, or Geographic grouping of organizations).',
  'assetAmount': 29890717,
  'classification': 'Scientific Organization',
  'deductibility': 'Contributions are deductible',
  'deductibilityCode': '1',
  'deductibilityDetail': None,
  'exemptOrgStatus': 'Unconditional Exemption',
  'exemptOrgStatusCode': '01',
  'filingRequirement': '990 (all other) or 990EZ return',
  'foundationStatus': 'Organization that normally receives no more than one-third of its support from gross investment income and unrelated business income and at the same time more than one-third of its support from contributions, fees, and gross receipts related to exempt purposes.\xa0 509(a)(2)',
  'groupName': None,
  'incomeAmount': 11359570,
  'latest990': 'December, 2020',
  'nteeClassification': 'Biological, Life Science Research',
  'nteeCode': 'U50',
  'nteeLetter': 'U',
  'nteeSuffix': '0',
  'nteeType': 'Science and Technology Research Institutes, Services',
  'rulingDate': 'March, 1954',
  'subsection': '501(c)(3)'},
 'mailingAddress': {'city': 'Bar Harbor',
  'country': None,
  'postalCode': '04609',
  'stateOrProvince': 'ME',
  'streetAddress1': '159 Old Bar Harbor Road',
  'streetAddress2': None},
 'mission': 'The MDI Biological Laboratory is a rapidly growing, independent non-profit biomedical research institution. Its mission is to improve human health and well-being through basic research, education, and development ventures that transform discoveries into cures.',
 'orgID': 5954,
 'organization': {'_rapid_links': {'related': {'href': 'https://api.data.charitynavigator.org/v2/Organizations/010202467'}},
  'charityName': 'Mount Desert Island Biological Laboratory',
  'charityNavigatorURL': 'https://www.charitynavigator.org/?bay=search.summary&orgid=5954&utm_source=DataAPI&utm_content=9af5afa3',
  'ein': '010202467'},
 'tagLine': 'Connecting Science, Environment, and Health',
 'websiteURL': 'http://www.mdibl.org/'}

In [37]:
query_orgID = query[0]["orgID"]
query_orgID

5954

In [52]:
query_rulingDate = query[0]['irsClassification']['rulingDate'].split(",")[1]
#.values.astype('datetime64[Y]').astype(int) + 1970
int(query_rulingDate)

1954

In [55]:
query_data = []

for index in range(len(query)):
  
  try:
    query_orgID = query[index]["orgID"]
    query_charityName = query[index]["charityName"]
    query_ein = query[index]["ein"]
    query_rulingDate = int(query[index]['irsClassification']['rulingDate'].split(",")[1])

    query_data.append({
                      "ID": query_orgID,
                      "charityName": query_charityName,
                      "ein": query_ein,
                       "rulingDate": query_rulingDate

    })

  except:
    print("Info not found. Skipping...")
    pass

In [88]:
# Add API data to a new DataFrame
query_API_df = pd.DataFrame(query_data)
query_API_df.head(5)

      ID                                charityName        ein  rulingDate
0   5954  Mount Desert Island Biological Laboratory  010202467        1954
1  12517                United Way of Eastern Maine  010211478        1959
2   3916                     The Jackson Laboratory  010211513        1950
3  15533                   Maine Historical Society  010211530        1938
4  15222       Boys & Girls Clubs of Southern Maine  010211543        1926

In [86]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:analyzeup@database-analyzeup.c9mmdejuhxq9.us-west-1.rds.amazonaws.com:5432/analyzeup_project', echo=False)

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [96]:
query_API_df.to_sql('api_table', con=engine, if_exists='replace', method='multi')

In [97]:
engine.execute("SELECT * FROM api_table").fetchall()

[(0, 5954, 'Mount Desert Island Biological Laboratory', '010202467', 1954),
 (1, 12517, 'United Way of Eastern Maine', '010211478', 1959),
 (2, 3916, 'The Jackson Laboratory', '010211513', 1950),
 (3, 15533, 'Maine Historical Society', '010211530', 1938),
 (4, 15222, 'Boys & Girls Clubs of Southern Maine', '010211543', 1926),
 (5, 15534, 'United Way of Androscoggin County', '010211564', 1961),
 (6, 7736, 'Pine Tree Society', '010212442', 1946),
 (7, 13258, 'Animal Refuge League', '010212541', 1942),
 (8, 10965, 'Bangor Humane Society', '010215910', 1977),
 (9, 9318, 'Maine Seacoast Mission', '010216837', 1941),
 (10, 11074, 'Boothbay Region YMCA', '010237912', 1955),
 (11, 9319, 'United Way of Southern Maine', '010241767', 1956),
 (12, 4854, 'Maine Audubon', '010248780', 1940),
 (13, 15535, "Maine Children's Home", '010267392', 1963),
 (14, 4206, 'Natural Resources Council of Maine', '010270690', 1963),
 (15, 14047, 'Maine Maritime Museum', '010271477', 1964),
 (16, 15536, 'United Way of York County, Maine', '010276862', 1972),
 (17, 10262, 'Emmaus H.O.M.E.', '010287624', 1971),
 (18, 15537, "Children's Museum & Theatre of Maine", '010352258', 1977),
 (19, 10937, 'Special Olympics Maine', '010355822', 1978),
 (20, 7516, 'Farnsworth Art Museum', '010368070', 1987),
 (21, 4856, 'Portland Museum of Art', '010378420', 1983),
 (22, 4857, 'Maine Community Foundation', '010391479', 1984),
 (23, 9851, 'Preble Street', '010418917', 1990),
 (24, 15538, 'Tedford Housing', '010422035', 2003),
 (25, 4858, 'Friends of Acadia', '010425071', 1988),
 (26, 8533, 'Coastal Maine Botanical Gardens', '010476545', 1993),
 (27, 9320, 'Make-A-Wish Foundation of Maine', '010477512', 1993),
 (28, 15539, 'Camp Beech Cliff', '010502563', 1997),
 (29, 5955, 'Gulf of Maine Research Institute', '010504905', 1996),
 (30, 10838, 'Acadia Center', '010518193', 1998),
 (31, 4859, 'Mitchell Institute', '010523390', 1999),
 (32, 10434, 'Safe Passage', '010532835', 2001),
 (33, 16323, 'San Diego River Park Foundation', '010565671', 2002),
 (34, 11085, 'StandWithUs', '010566033', 2002),
 (35, 16829, 'The Akshaya Patra Foundation USA', '010574950', 2004),
 (36, 14862, 'Friends of Public Radio Arizona', '010579687', 2002),
 (37, 14585, 'Iranian American Jewish Federation of New York', '010651843', 2002),
 (38, 4431, 'The San Francisco Foundation', '010679337', 2002),
 (39, 13253, "Golisano Children's Museum of Naples", '010687133', 2002),
 (40, 17676, 'Florida Breast Cancer Foundation', '010694045', 2003),
 (41, 11344, 'Democracy Now!', '010708733', 2003),
 (42, 16848, 'Furkids Animal Rescue and Shelters', '010766844', 2003),
 (43, 17006, 'H.E.R.O.E.S. Care', '010777850', 2014),
 (44, 18845, 'Desiring God Ministries', '010797083', 2005),
 (45, 16324, 'Center for Civic Policy', '010869701', 2007),
 (46, 16631, 'Comic Relief, Inc.', '010885377', 2007),
 (47, 7812, 'National Medical Fellowships', '010963657', 2010),
 (48, 15540, 'United Way of Kennebec Valley', '016004404', 1965),
 (49, 10272, 'Council of Independent Colleges', '016004776', 1957),
 (50, 11111, 'United Way of Mid Coast Maine', '016004866', 1958),
 (51, 17007, 'Bigelow Laboratory for Ocean Sciences', '016006001', 1961),
 (52, 7518, 'Greater Androscoggin Humane Society', '016011843', 1973),
 (53, 13399, 'Bay Chamber Concerts', '016023519', 1962),
 (54, 4476, 'Society for the Protection of New Hampshire Forests', '020222237', 1986),
 (55, 11092, 'The Granite YMCA', '020222248', 1938),
 (56, 14885, 'YMCA of Greater Nashua', '020222250', 1942),
 (57, 8916, 'New Hampshire Association for the Blind', '020223606', 1949),
 (58, 15100, 'Mount Washington Observatory', '020225135', 1951),
 (59, 14686, 'Monadnock United Way', '020236885', 1952),
 (60, 14614, 'The Pope Memorial SPCA of Concord-Merrimack County', '020239801', 1969),
 (61, 15101, 'Boys & Girls Clubs of Central New Hampshire', '020259874', 1963),
 (62, 4177, 'National Federation of the Blind', '020259978', 1949),
 (63, 14860, 'Strawbery Banke Museum', '020260158', 1967),
 (64, 9196, 'New Hampshire Public Radio', '020338667', 1978),
 (65, 13180, 'The Gibson Center for Senior Services', '020351152', 1981),
 (66, 14261, 'Nashua Soup Kitchen & Shelter Inc', '020359239', 1981),
 (67, 13274, 'Make-A-Wish Foundation of New Hampshire', '020405369', 1992),
 (68, 10171, 'CATCH Neighborhood Housing', '020433505', 1994),
 (69, 15223, 'Boys & Girls Club of Souhegan Valley', '020450773', 1993),
 (70, 15541, 'Alliance for California Traditional Arts', '020541202', 2002),
 (71, 15501, 'Stephen Siller Tunnel to Towers Foundation', '020554654', 2003),
 (72, 12376, 'Camphill Soltane Foundation', '020564982', 2002),
 (73, 11695, 'Life In Abundance International', '020587875', 2002),
 (74, 11049, 'Pajama Program', '020588068', 2002),
 (75, 18067, 'Haitian Education & Leadership Program', '020602245', 2003),
 (76, 13150, 'Child Rights And You America', '020659244', 2003),
 (77, 14208, 'Out & Equal Workplace Advocates', '020681855', 2003),
 (78, 12099, 'The Food Bank of Lower Fairfield County', '020684220', 2003),
 (79, 13108, 'Adler Aphasia Center', '020687863', 2003),
 (80, 14988, 'Rock the Vote', '020767157', 2006),
 (81, 17219, 'UpTogether', '020784790', 2006),
 (82, 18457, 'Alaqua Animal Refuge Inc.', '020806313', 2008),
 (83, 5958, 'New Hampshire SPCA', '026000614', 1972),
 (84, 5959, 'New Hampshire Audubon', '026005322', 1944),
 (85, 4862, 'Monadnock Humane Society', '026005610', 1993),
 (86, 4863, 'New Hampshire Charitable Foundation', '026005625', 1963),
 (87, 13693, 'Granite United Way', '026006033', 1955),
 (88, 7521, 'New Hampshire Humane Society', '026006374', 1963),
 (89, 12959, 'United Way of Greater Nashua', '026015642', 1954),
 (90, 8336, 'Green Mountain Club', '030162865', 1979),
 (91, 10002, 'New England Kurn Hattin Homes', '030179306', 1926),
 (92, 15542, 'Boys & Girls Club of Burlington', '030179307', 1943),
 (93, 12706, 'Shelburne Museum ', '030179436', 1949),
 (94, 15543, 'Vermont Historical Society', '030179602', 1943),
 (95, 13853, 'Fairbanks Museum & Planetarium', '030184732', 1943),
 (96, 18437, 'Bennington Museum', '030185292', 1928),
 (97, 13721, 'United Way of Northwest Vermont', '030217229', 1966),
 (98, 15544, 'United Way of Addison County', '030221018', 1968),
 (99, 4865, 'Planned Parenthood of Northern New England', '030222941', 1969)]

In [98]:
# Read api_table from DB
api_table = spark.read.jdbc(url=jdbc_url, table='api_table', properties= config) 
api_table.limit(10).show()

+-----+-----+--------------------+---------+----------+
|index|   ID|         charityName|      ein|rulingDate|
+-----+-----+--------------------+---------+----------+
|    0| 5954|Mount Desert Isla...|010202467|      1954|
|    1|12517|United Way of Eas...|010211478|      1959|
|    2| 3916|The Jackson Labor...|010211513|      1950|
|    3|15533|Maine Historical ...|010211530|      1938|
|    4|15222|Boys & Girls Club...|010211543|      1926|
|    5|15534|United Way of And...|010211564|      1961|
|    6| 7736|   Pine Tree Society|010212442|      1946|
|    7|13258|Animal Refuge League|010212541|      1942|
|    8|10965|Bangor Humane Soc...|010215910|      1977|
|    9| 9318|Maine Seacoast Mi...|010216837|      1941|
+-----+-----+--------------------+---------+----------+